

<div class="well">
    <h4>Searching</h4>
        Try to find something ...

<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
</head>
<style type="text/css">
</style>
<!--<div class="well">-->
<script async src="https://cse.google.com/cse.js?cx=2dcb771063bc36a13"></script>
<div class="gcse-searchbox-only"></div>

  <p>Example:&nbsp;
    <a href="https://www.ribocentre.org/search.html?q=rna#gsc.tab=0&gsc.q=rna&gsc.page=1"  target="_blank">RNA</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/search.html?q=Ribo#gsc.tab=0&gsc.q=Ribo&gsc.page=1"  target="_blank">Ribo</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/search.html?q=Sequence#gsc.tab=0&gsc.q=Sequence&gsc.page=1"  target="_blank">Sequence</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/search.html?q=breaker#gsc.tab=0&gsc.q=breaker&gsc.page=1"  target="_blank">Breaker</a>&nbsp;&nbsp;
  </p>
  <p><b>BROWSE:&nbsp;</b>
    <a href="https://www.ribocentre.org/ribozyme">Ribozymes</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/publications">Publications</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/docs/VS-ribozyme.html" target="_blank"> VS with 3D structures</a>&nbsp;&nbsp;
    <a href="https://www.ribocentre.org/Helps">Teams</a>&nbsp;&nbsp;
  </p>
 </div>

 <div class="well">
    <h4>News</h4>
    
    {% for article in site.data.news limit:9 %}
    <p>{{ article.date }}<br>{{ article.headline | markdownify}}</p>
    {% endfor %}
    
    <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>
    
        </div>
    
